@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.container {
    background: #0052D4;
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    height: 70vh;
    width: 22%;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 13px 22px 10px;
    padding: 24px;
}

input {
    width: 223px;
    height: 46px;
    border-radius: 10px;
    font-size: 20px;
}

.btn {
    height: 51px;
    width: 47px;
    font-size: 34px;
    background: red;
    color: white;
    border: white;
    border-radius: 10px;
    margin: 10px;
}

ul {
    font-size: 22px;
    list-style-type: none;
    margin-bottom: 18px;
    text-align: right;
}

.btn1 {
    height: 51px;
    width: 47px;
    font-size: 34px;
    background: green;
    color: white;
    border: white;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 17px;
}